arabic-reshaper==3.0.1
asgiref==3.11.1
asn1crypto==1.5.1
attrs==26.1.0
autobahn==26.6.2
Automat==25.4.16
cbor2==6.1.3
certifi==2026.7.22
cffi==2.1.0
channels==4.3.2
charset-normalizer==3.4.9
constantly=Django==6.0.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2

channels==4.3.2
daphne==4.2.2

dj-database-url
psycopg2-binary
whitenoise

python-decouple==3.8

numpy==2.5.1
pandas==3.0.3
scipy==1.18.0
scikit-learn==1.9.0
joblib==1.5.3
threadpoolctl==3.6.0

matplotlib==3.11.0
seaborn==0.13.2

Pillow==12.3.0

requests==2.34.2
PyYAML==6.0.3

reportlab==4.5.1
xhtml2pdf==0.2.17
svglib==2.0.2
pypdf==6.14.2
pyHanko==0.35.2
pyhanko-certvalidator==0.31.1

arabic-reshaper==3.0.1
python-bidi==0.6.11

ujson==5.13.0=23.10.4
contourpy==1.3.3
cryptography==49.0.0
cssselect2==0.9.0
cycler==0.12.1
daphne==4.2.2
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
fonttools==4.63.0
html5lib==1.1
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
joblib==1.5.3
kiwisolver==1.5.0
lxml==6.1.1
matplotlib==3.11.0
msgpack==1.2.1
mysqlclient @ file:///D:/bld/bld/rattler-build_mysqlclient_1772555872/work
narwhals==2.23.0
numpy==2.5.1
oscrypto==1.3.0
packaging==26.0
pandas==3.0.3
pillow==12.3.0
pycparser==3.0
pyHanko==0.35.2
pyhanko-certvalidator==0.31.1
PyJWT==2.13.0
pyOpenSSL==26.3.0
pyparsing==3.3.2
pypdf==6.14.2
python-bidi==0.6.11
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
reportlab==4.5.1
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
service-identity==26.1.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
svglib==2.0.2
threadpoolctl==3.6.0
tinycss2==1.5.1
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
ujson==5.13.0
uritools==6.1.2
urllib3==2.7.0
webencodings==0.5.1
wheel==0.47.0
xhtml2pdf==0.2.17
zope.interface==8.5
